body{
    background-color: #d3d3d3;
}
.divB{
    background-color: white;
    height: 500px;
    width: 50vw;
    border: 10px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divC{
    background-color: yellow;
    height: 50px;
    width: 30%;
}
.divD{
    background-color: rgb(241, 98, 15);
    height: 100px;
    width: 30%;
}
.divE{
    background-color: rgb(86, 224, 86);
    color: white;
    font-size: 30px;
    margin: 50px;
    padding-top: 50px;
    padding-left: 50px;
}
