.divA{
    background-color: rgb(216, 61, 236);
    height: 250px;
    width: 50%;
    display: flex;
    justify-content: center;
}
.divB{
    background-color: #ff6f9c;
    height: 210px;
    width: 250px;
    border: red solid 20px;
}
.divC{
    background-color: #00ffff;
    height: 88%;
    width: 30%;
}
